@import "normalize.css";

:root {
  --dark: rgb(18 18 18);
  --dark-flat-1: rgb(37, 37, 37);
  --dark-flat-2: rgba(255, 255, 255, 0.12);
  --dark-flat-3: rgba(255, 255, 255, 0.08);
  --dark-flat-hover: rgba(255, 255, 255, 0.04);
  --light: rgba(255, 255, 255, 1);
  --light-flat-1: rgba(255, 255, 255, 0.9);
  --light-flat-2: rgba(255, 255, 255, 0.12);
  --light-flat-3: rgba(255, 255, 255, 0.6);
  --light-flat-4: rgba(0, 0, 0, 0.4);
  --primary: #fe2c55;
  --white: #fff;
  --black: #12131c;
  --text-color: rbg(22, 24, 35);
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
  --font-family: "IBM Plex Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  //Scrollbar css

  ::-webkit-scrollbar {
    width: 6px;
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(93, 93, 93, 0.15);
  }

  ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

// Font embedded
@font-face {
  font-family: IBM Plex Sans;
  src: url("~/src/assets/fonts/TikTokFont-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: IBM Plex Sans;
  src: url("~/src/assets/fonts/TikTokFont-Semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: IBM Plex Sans;
  src: url("~/src/assets/fonts/TikTokFont-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: DisplayFont;
  src: url("~/src/assets/fonts/TikTokFont-Regular.woff2") format("woff2");
  font-weight: 700;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
.full-width {
  width: 100%;
}
body {
  .tippy-box {
    border-radius: 8;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
  .tippy-content {
    padding: 8px 9px;
  }
  .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -8px;
  }
  &.lightMode {
    background-color: var(--white);
    color: var(--black);
  }

  &.darkMode {
    background-color: var(--dark);
    color: var(--white);
    .fui-toast-box {
      background-color: var(--dark-flat-1);
    }
  }
}

.skeletonItem {
  background-color: #f8f8f8; /* Màu nền xám */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.skeletonItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(202, 202, 202, 0) 0%, rgba(109, 109, 109, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
  animation: loading 1.5s infinite;
}

body.darkMode {
  .skeletonItem {
    background-color: #1a1a1a;
  }
}
@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}