.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  gap: 8px;
  &.active {
    background-color: #f5f5f5;
  }
  &:hover {
    background-color: #f5f5f5;
  }
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.infoWrapper {
  display: flex;
  flex-direction: column;
}
.userName {
  font-size: 1.5rem;
  font-weight: 600;
}
.content {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.3rem;
  color: #858688;
}
:global(body.darkMode) {
  .container {
    &:hover {
      background-color: #2a2a2a;
    }
  }
}
